* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	width: 100vw;
	height: 100vh;
	background: #fff;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0.5rem;
}

a {
	display: block;
	color: #000;
	margin: 0 0.5rem;
  text-decoration: none;
  transition: ease 0.5s all;
}

a:hover{
  opacity: 0.8;
  text-decoration: underline;
}

h2 {
	margin: 1rem 0;
	color: #000;
	text-align: center;
}

footer {
	margin: 1.5rem 0 1.5rem;
	color: #000;
	text-align: center;
}

svg g text{
  fill: #000 !important;
}
